jpxml/schema-1.xsd

<?xml version="1.0" ?>
<xs:schema
    xmlns:xs="http://www.iso.org/jpeg/2001/XMLSchema" targetNamespace="http://www.iso.org/jpxml"
    xmlns="http://www.iso.org/jpxml">

    <!-- jpxml part 1 root element -->
    <xs:element name="jpxml">
        <xs:complexType>
            <xs:attributeGroup ref="attrs.root" />
            <xs:sequence>
                <xs:element ref="jP__" />
                <xs:element ref="ftyp" />
                <xs:element ref="jp2h" />
                <xs:element ref="jp2i" minOccurs="0" />
                <xs:element ref="_xml_" minOccurs="0"  />
                <xs:element ref="uuid" minOccurs="0"  />
                <xs:element ref="uinf" minOccurs="0"  />
                <xs:element ref="jp2c" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="jP__">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="signature" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>

    <xs:element name="ftyp">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="brand" />
              <xs:element ref="version" />
              <xs:element ref="compatibility" maxOccurs="unbounded" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>

    <xs:element name="jp2h">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="ihdr" />
              <xs:element ref="bpcc" minOccurs="0" />
              <xs:element ref="colr" />
              <xs:element ref="pclr" minOccurs="0" />
              <xs:element ref="cmap" minOccurs="0" />
              <xs:element ref="cdef" minOccurs="0" />
              <xs:element ref="res_" minOccurs="0" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>

    <xs:element name="ihdr">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="height">
                <xs:attributeGroup ref="attrs.int" use="required" />
              </xs:element>
              <xs:element ref="height" />
              <xs:element ref="width" />
              <xs:element ref="num_components" />
              <xs:element ref="depth" />
              <xs:element ref="compression" />
              <!-- VERIFY -->
              <xs:element ref="coding" />
              <xs:element ref="colour_unknown" />
              <xs:element ref="ipr" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>

    <xs:element name="bpcc">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="depth" maxOccurs="unbounded" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>

    <xs:element name="colr">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="method" />
              <xs:element ref="precedence" />
              <xs:element ref="approx" />
              <xs:element ref="colour" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>

    <xs:element name="pclr">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="num_entries" />
              <xs:element ref="num_components" />
              <xs:element ref="depth" maxOccurs="unbounded" />
              <xs:element ref="data" maxOccurs="unbounded" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>

    <xs:element name="cdef">
      <xs:complexType>
        <xs:attributeGroup ref="attrs.box" use="required" />
          <xs:sequence>
            <xs:element ref="num_entries" />
            <xs:sequence maxOccurs="unbounded">
              <xs:element ref="index" />
              <xs:element ref="type" />
              <xs:element ref="assoc" />
            </xs:sequence>
          </xs:sequence>
       </xs:complexType>
    </xs:element>

    <xs:element name="res_">
      <xs:complexType>
        <xs:attributeGroup ref="attrs.box" use="required" />
          <xs:sequence>
            <xs:element ref="resc" maxOccurs="unbounded" />
            <xs:element ref="resd" maxOccurs="unbounded" />
          </xs:sequence>
       </xs:complexType>
    </xs:element>

    <xs:element name="resc">
      <xs:complexType>
        <xs:attributeGroup ref="attrs.box" use="required" />
          <xs:sequence>
            <xs:element ref="vert_num" />
            <xs:element ref="vert_den" />
            <xs:element ref="hori_num" />
            <xs:element ref="hori_den" />
            <xs:element ref="vert_exp" />
            <xs:element ref="hori_exp" />
          </xs:sequence>
       </xs:complexType>
    </xs:element>

    <xs:element name="resd">
      <xs:complexType>
        <xs:attributeGroup ref="attrs.box" use="required" />
          <xs:sequence>
            <xs:element ref="vert_num" />
            <xs:element ref="vert_den" />
            <xs:element ref="hori_num" />
            <xs:element ref="hori_den" />
            <xs:element ref="vert_exp" />
            <xs:element ref="hori_exp" />
          </xs:sequence>
       </xs:complexType>
    </xs:element>

    <!-- UUID box -->
    <xs:element name="uuid">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="id" />
              <xs:element ref="data" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>
    <xs:element name="uinf">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="ulst" />
              <xs:element ref="url_" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>
    <xs:element name="ulst">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="num_entries" />
              <xs:element ref="uuid" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>
    <xs:element name="url_">
        <xs:complexType>
          <xs:attributeGroup ref="attrs.box" use="required" />
            <xs:sequence>
              <xs:element ref="location" />
            </xs:sequence>
         </xs:complexType>
    </xs:element>

    <!-- XML box -->
    <xs:element name="_xml_">
      <xs:complexType>
        <xs:attributeGroup ref="attrs.box" use="required" />
          <xs:sequence>
            <xs:element ref="text" />
          </xs:sequence>
       </xs:complexType>
    </xs:element>

    <xs:element name="jp2c">
      <xs:complexType>
        <xs:attributeGroup ref="attrs.box" use="required" />
          <xs:sequence>
            <xs:element ref="data" />
          </xs:sequence>
       </xs:complexType>
    </xs:element>

    <!-- part 1 content element -->

    <!-- jp__ -->
    <xs:element name="signature" type="xs:hexbyte">
      <xs:attributeGroup ref="attrs.hex" use="required" />
    </xs:element>

    <!-- ftyp -->
    <xs:element name="brand" type="xs:fourcc">
      <xs:attributeGroup ref="attrs.4cc" use="required" />
    </xs:element>
    <xs:element name="version" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="compatibility" type="xs:fourcc">
      <xs:attributeGroup ref="attrs.4cc" use="required" />
    </xs:element>

    <!-- jp2h -->
    <!-- ihdr -->
    <xs:element name="width" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="height" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="depth" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="num_components" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="depth" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="compression" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="colour_unknown" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="ipr" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>

    <!-- colr -->
    <xs:element name="method" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="precedence" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <!-- TODO: Verify if this is hexbyte or int -->
    <xs:element name="colour" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>

    <xs:element name="num_components" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="num_entries" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="depth" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="data" type="xs:hexbyte">
      <xs:attributeGroup ref="attrs.hex" use="required" />
    </xs:element>
    <xs:element name="index" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="type" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="assoc" type="xs:hexbyte">
      <xs:attributeGroup ref="attrs.hex" use="required" />
    </xs:element>
    <xs:element name="vert_num" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="vert_den" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="hori_num" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="hori_den" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="vert_exp" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="hori_exp" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>

    <xs:element name="id" type="xs:integer">
      <xs:attributeGroup ref="attrs.int" use="required" />
    </xs:element>
    <xs:element name="location" type="location">
      <xs:attributeGroup ref="attrs.url" use="required" />
    </xs:element>
    <xs:element name="text" type="xs:string">
      <xs:attributeGroup ref="attrs.str" use="required" />
    </xs:element>
</xs:schema>
